body {
  background-color: teal;
  }

  .main-nav
{
	background-image: url("images/image.jpeg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center -60px;
	padding: 500px 500px 500px 500px;
}

.main-nav 
a{
	display:inline-block;
	border-radius: 20px 20px 20px 20px;
	border-bottom: 0px solid white;
	background-color: #007dad;
	color:black;
	text-decoration:none;
	padding: 10px 10px;
	position:relative;
	top:10px;
	transition: top 300ms ease;
}

h1 {
  color:rgb(253, 252, 252);
  font-family: monospace;
  font-size: 550%;
}

h2 {
  color:rgb(2, 0, 0);
  font-family: Arial;
  font-size: 150%;
  border: 3px solid black;
  padding: 5px 5px;
  margin: 30px;
  background-color: lightblue;
}

p {
  color: rgb(4, 0, 5);
  font-family: helvetica;
  font-size: 100%;
  border: 3px solid black;
  padding: 20px;
  margin: 0px;
  background-color: lightblue;
}





