div {
border: 5px solid black;
margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 15%;
  margin-left: 15%;
  background-color: white;
  border-radius: 50px;
}

body {
  background-color: rgba(15, 37, 48, 0.89);
  padding: 0;
  margin: 0;
  }

  .page {
	margin: 40px auto;
	border: 2px solid black;
	border-radius: 15px;
  background-color: rgb(26, 35, 59);
	overflow: hidden;
  }

  .main-nav
{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center -60px;
  background-attachment: fixed;
	padding: 10% 5% 0% 5%;
  background-image: url("images/background");
}

.page-content{
	padding: 20px;
}

h2 {
  color:rgb(2, 0, 0);
  font-family: didot;
  font-size: 150%;
  padding: 10px 20px;
  margin-top: 100px;
  margin-bottom: 0px;
  margin-right: 20%;
  margin-left: 20%;
  border: 5px solid black;
}

p {
  color: rgb(4, 0, 5);
  font-family: didot;
  font-size: 120%;
  padding: 10px 10px;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 100px;
  margin-right: 20%;
  margin-left: 20%;
  border: 5px solid white;
}


video{
margin: 20%;
margin-top: 0px;
}








@media only screen and (max-width: 1200px) {
p {
  margin: 5px 5px;
}


@media only screen and (max-width: 1200px) {
div {
margin: 0px 0px;
}






